html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.card-container {
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.card {
  width: 125px;
  height: 165px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  cursor: pointer;
  transform: translateX(180deg);
}
